.memories {
  border-top: solid 2px #CCCCCC;
  border-right: solid 2px #CCCCCC;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.memories-feed {
  max-width: 500px;
}

.memories-list {
  height: 400px;
  overflow-y: scroll;
  padding: 0 10px;
  border-bottom: solid 1px #CCCCCC;
}

.memories-form {
  max-width: 360px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  height: 300px;
}

.button {
  width: 100px;
}

.banner {
  background-color: #CCCCCC;
  padding: 3px 10px;
}

.memory {
  background-color: #E0FFE3;
  margin: 20px 0;
  border: solid 1px #a4daaa;
}

.memory-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px #a4daaa;
  color: dimgray;
  background-color: #effcf1;
}

.memory-info>p {
  margin: 5px 0;
  font-size: 12px;
  padding: 0px 10px;
}

.memory-crud {
  display: flex;
  flex-direction: row;
}

.memory-crud>p {
  margin: 5px 0;
  font-size: 12px;
  padding: 0px 10px;
}

.memory-crud>p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.memory-text {
  padding: 0px 10px;
}

.memories-form-name,
.memories-form-text {
  background: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  border-left-color: dimgrey;
  border-top-color: dimgrey;
  border-bottom-color: #D7D0C8;
  border-right-color: #D7D0C8;
  box-sizing: border-box;
}

.memories-form-name {
  max-width: 400px;
  margin-bottom: 15px;
  padding: 5px;
}

.memories-cta {
  margin-bottom: 15px;
}

.memories-form-text {
  max-width: 400px;
  height: 100px;
  padding: 5px;
  margin-bottom: 15px;
  text-align: start;
}

.memories-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* width */
.memories-list::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.memories-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.memories-list::-webkit-scrollbar-thumb {
  background: darkgray;
  border-style: solid;
  border-width: 2px;
  border-left-color: rgb(196, 196, 196);
  border-top-color: rgb(196, 196, 196);
  box-sizing: border-box;
}